<div class="col-xs-12">

    <div class="box box-solid">

        <div class="box-header with-border">

        <i class="fa fa-{{ search.icon }}"></i>
        <h3 class="box-title">{{ search.title}}</h3><span class="pull-right"></span>

        </div>
        <form #form="ngForm" novalidate (submit)="submit(search, form)"> 

            <input 
              type="text" 
              name="query" 
              ngModel 
              required 
              autocomplete="off" 
              minlength="2" 
              placeholder="{{ search.placeholder }}"  >
            <button type="submit" [disabled]="!form.valid"><i class="fa fa-search"></i></button>

        </form> 

    </div>

    </div>