<div class="content-wrapper">
    
    <div class="container">

        <section class="content">

            <div class="row">

                <div class="col-xs-12">

                  <div class="box box-solid">

                    <div class="box-header with-border">

                      <i class="fa fa-user"></i>
                      <h3 class="box-title">Search by client name</h3><span class="pull-right"></span>

                    </div>

                    <form> 
                        <input type="text" placeholder="enter the name or part" required >
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form> 

                  </div>

                </div>

            </div>

            <!--Result -->
            <div class="row">

                <div class="col-xs-12">

                    <div class="col-xs-12 col-sm-12 box box-solid">

                        <p>
                            The search for <strong>"name"</strong> returned <strong>10</strong> results.
                        </p>

                    </div>

                    <div class="col-xs-12 col-sm-12 box box-solid ">

                        <p>
                            The search for "name" returned 0 results.
                            Please try again with a name more complete.
                        </p>

                    </div>

                </div>

            </div> 
            <!--Result -->

            <!--LIST-->
            <div class="row flex">     
                
                <div class="col-xs-12 col-lg-6 col-sm-6 ">

                    <div class="box box-solid">

                        <h2><i class="fa fa-user"></i> Nina Ellis </h2>
        
                        <div class="box-body">
                            <ul>
                                <li>
                                    <strong>fullName:</strong> Nina Ellis
                                </li>
                                <li>
                                    <strong>gender:</strong> female 
                                </li>
                                <li>
                                    <strong>age:</strong> 61
                                </li>
                                <li>
                                    <strong>email:</strong> nEllis@example.com
                                </li>
                                <li>
                                    <strong>phone:</strong> (443) 545-8479
                                </li>
                                <li>
                                    <strong>username:</strong> nEllis
                                </li>
                                
                            </ul>
                        </div>
                    </div>
        
                </div>
                
            </div>
            <!--END LIST-->

        </section>
        
    </div>

</div>

