<div class="content-wrapper">
    
    <div class="container">

        <section class="content">

            <div class="row">

                <div class="col-xs-12">

                  <div class="box box-solid">

                    <div class="box-header with-border">

                      <i class="fa fa-user"></i>
                      <h3 class="box-title">Search by client name</h3><span class="pull-right"></span>

                    </div>
                    <form #form="ngForm" novalidate (submit)="submitEventSearch(form)"> 
                        <input type="text" name="query" ngModel required autocomplete="off" minlength="2" placeholder="Enter at least 2 characters">
                        <button type="submit" [disabled]="!form.valid"><i class="fa fa-search"></i></button>
                    </form> 
                  </div>

                </div>

            </div>

            <!--Result -->
            <div class="row">

                <div class="col-xs-12">

                    <div *ngIf="clients && clients.length > 0" class="col-xs-12 col-sm-12 box box-solid">

                        <p>
                            The search returned <strong>{{ clients.length }}</strong> results.
                        </p>

                    </div>

                    <div *ngIf="clients && clients.length <= 0" class="col-xs-12 col-sm-12 box box-solid ">

                        <p>
                            The search for returned <strong>0</strong> result.
                            Please try again with a name more complete.
                        </p>

                    </div>

                </div>

            </div> 
            <!--Result -->

            <!--LIST-->
            <div class="row flex" >
                
                <div class="col-xs-12 col-lg-6 col-sm-6 " *ngFor="let client of clients">

                    <div class="box box-solid">

                        <h2><i class="fa fa-user"></i> {{ client.fullName }} </h2>
        
                        <div class="box-body">
                            <ul>
                                <li>
                                    <strong>fullName:</strong> {{ client.fullName }}
                                </li>
                                <li>
                                    <strong>gender:</strong> {{ client.gender }} 
                                </li>
                                <li>
                                    <strong>age:</strong> {{ client.age }}
                                </li>
                                <li>
                                    <strong>email:</strong> {{ client.email }}
                                </li>
                                <li>
                                    <strong>phone:</strong> {{ client.phone }}
                                </li>
                                <li>
                                    <strong>username:</strong> {{ client.username }}
                                </li>
                                
                            </ul>
                        </div>
                    </div>
        
                </div>
                
            </div>
            <!--END LIST-->

        </section>
        
    </div>

</div>

