<div class="content-wrapper">
  
    <div class="container">

        <section class="content">

            <div class="row">

                <div class="col-xs-12">

                <div class="box box-solid">

                    <div class="box-header with-border">

                    <i class="fa fa-book"></i>
                    <h3 class="box-title">Search by book name</h3><span class="pull-right"></span>

                    </div>
                    <form #form="ngForm" novalidate (submit)="submitEventSearch(form)"> 

                        <input type="text" name="query" ngModel required autocomplete="off" minlength="2" placeholder="Enter at least 2 characters" >
                        <button type="submit" [disabled]="!form.valid"><i class="fa fa-search"></i></button>

                    </form> 

                </div>

                </div>

            </div>

            <!--Result-->
            <div class="row" *ngIf="!loading">
                
                <div class="col-xs-12">

                        <div *ngIf="books && books.length > 0" class="col-xs-12 col-sm-12 box box-solid">

                            <p>
                                The search returned <strong>{{ books.length }}</strong> results.
                            </p>
    
                        </div>
        
                        <div *ngIf="books && books.length <= 0" class="col-xs-12 col-sm-12 box box-solid ">
    
                            <p>
                                The search for returned <strong>0</strong> result.
                                Please try again with a name more complete.
                            </p>
    
                        </div>
                    </div> 

            </div>  
            <!--Result-->

            <div class="row" *ngIf="loading">
            
                <div class="col-xs-12" *ngIf="loading" >

                    <div class="box box-solid">
                
                        <p>Searching resuts...</p>
                        
                    </div>

                </div> 

            </div>

            <!--START LIST-->
            <div class="row masonry" *ngIf="!loading">     

                <div class="col-xs-12 col-lg-6 col-sm-6 " *ngFor="let book of books">

                    <div class="box box-solid">

                        <h2><i class="fa fa-book"></i> {{ book.title }} </h2>
        
                        <div class="box-body">
                            <ul>
                                <li>
                                    <strong>Title:</strong> {{ book.title }}
                                </li>
                                <li>
                                    <strong>Author:</strong> {{ book.author }} 
                                </li>
                                <li>
                                    <strong>Published:</strong> {{ book.yearPublished }}
                                </li>
                                <li>
                                    <strong>Price:</strong> {{ book.price }}
                                </li>
                                <li>
                                    <strong>Rating:</strong> {{ book.rating }}
                                </li>
                                
                            </ul>
                        </div>
                    </div>
        
                </div>

            </div>
            <!--END LIST-->

        </section>
        
    </div>

</div>

