<div class="content-wrapper">
  
    <div class="container">

        <section class="content">

            <div class="row">
                <app-search
                    [search]= "{
                        type:'book',
                        query:'book/by-title/',
                        icon:'book',
                        title:'Search book by title',
                        placeholder:'Enter at least 2 characters',
                        submit: this.submitEventSearch
                    }" >
                </app-search>
            </div>


            <div class="row" *ngIf="loading">
                <app-search-progress></app-search-progress>
            </div> 
            <div class="row" *ngIf="!loading">
                <app-result [items]="items"></app-result>
            </div>  

            <!--START LIST-->
            <div class="row masonry" *ngIf="!loading">     

                <div class="col-xs-12 col-lg-6 col-sm-6 " *ngFor="let book of items">

                    <div class="box box-solid">

                        <h2><i class="fa fa-book"></i> {{ book.title }} </h2>
        
                        <div class="box-body">
                            <ul>
                                <li>
                                    <strong>Title:</strong> {{ book.title }}
                                </li>
                                <li>
                                    <strong>Author:</strong> {{ book.author }} 
                                </li>
                                <li>
                                    <strong>Published:</strong> {{ book.yearPublished }}
                                </li>
                                <li>
                                    <strong>Price:</strong> {{ book.price }}
                                </li>
                                <li>
                                    <strong>Rating:</strong> {{ book.rating }}
                                </li>
                                
                            </ul>
                        </div>
                    </div>
        
                </div>

            </div>
            <!--END LIST-->

        </section>
        
    </div>

</div>

