<div class="content-wrapper">

  <div class="container">

    <section class="content-header">
    </section>

    <section class="content">

      <div class="jumbotron welcome-jumbotron">

        <h1>Welcome to Searcher!</h1>

        <p>
          Amazing App to search for your favorite client and book!
        </p>
        <p>  
          What do you want to Search?
        </p>

        <div class="flex space-around">
          <a class="btn btn-default btn-lg" [routerLink]="['/client']">The clients</a>
          <a class="btn btn-default btn-lg" [routerLink]="['/book']">The books</a>
        </div>

      </div>

    </section>

  </div>

</div>
