<div class="content-wrapper">

  <div class="container">

    <section class="content-header">
    </section>

    <section class="content">

      <div class="jumbotron welcome-jumbotron">

        <h1>Welcome to Searcher!</h1>

        <p>
          Amazing App to search for your favorite client and book!
        </p>

        <div>
          <a class="btn btn-default btn-sm" href="clients.html">Search for Client</a>
          <a class="btn btn-default btn-sm" href="books.html">Search for Book</a>
        </div>

      </div>

    </section>

  </div>

</div>
